[package]
name = "mira-macros"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license-file.workspace = true

[dependencies]
syn.workspace = true
proc-macro2.workspace = true
quote.workspace = true

[lib]
proc-macro = true

[lints]
workspace = true
